
.features{
padding-top: 94px;
padding-bottom: 94px;
}
.features__list{
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
    }
.features__item{
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
}

.features__item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: $filter-list-color;
    border-radius: 4px;
    height: 120px;
}
.features__item-img{
     width: 70px;
     height: 70px;   
}


.features__item-title{
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
    
.features__item-text{
    margin-top: 10px;
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}