.header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
}  
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__header-logo-first{
    color: $accent-text-color;
}
.logo__header-logo-second{
    color: $logo-color;
}

  


// 0-767
@media screen and (max-width:767px){
.menu{
    display: none;
}
.contacts{
    display: none;
}
.header__burger-menu{
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.header__burger-menu-icon{
    width: 24px;
    height: 16px;
}
.header__menu-close-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.current-mobile{
    color: $accent-text-color;
}

}
// 768+
@media screen and (min-width:768px){
.header__burger-menu{
    display: none;}
.header{
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ECECEC;
}

.header__navigation{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    margin-left: 88px;
&__item:not(:last-child) {
    margin-right: 50px;}       
}
.menu__item-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--timing-duration) var(--timing-function);
&:hover,
&:focus{
  color: $accent-text-color;}
}

.contacts{
   display: block;
}
.contacts__email{
    margin-bottom: 10px;
   
}
.contacts__email-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    // font-size: 14px;
    // line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    transition: color var(--timing-duration) var(--timing-function);
    &:hover,
    &:focus {
    color: $accent-text-color;}
}

.contacts__email-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $text-color;
    transition: fill var(--timing-duration) var(--timing-function);
.contacts__email:hover &,
.contacts__email:focus &{
    fill: currentColor;
}
}


.contacts__tel-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    // font-size: 14px;
    // line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    transition: color var(--timing-duration) var(--timing-function);
    &:hover,
    &:focus{
    color: $accent-text-color;}
}
.contacts__tel-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $text-color;   
    transition: fill var(--timing-duration) var(--timing-function);
.contacts__tel:hover &,
.contacts__tel:focus &{
    fill:currentColor;}
}
.current{
    position: relative;
    color: $accent-text-color;
&::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -33px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-text-color;}
}
}


// 1200+
@media screen and (min-width: 1200px) {
.logo{
    font-size: 26px;
    line-height: 1.19;
    }
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.contacts{
    display: flex;
    align-items: center;
    & li:not(:last-child){
    margin-right: 50px;}
}
.contacts__tel-link, .contacts__email-link{
    font-size: 14px;
    line-height: 1.14;
}
.contacts__email{
    margin-bottom: 0px;
}
.current::after{
    bottom: -32px;
}
}










