.team-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $filter-list-color;
}
 .team-section-title {
    margin-bottom: 30px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list-content{
    padding-top: 30px;
    padding-bottom: 24px;
}

.team-title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
}
 .team-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-bottom: 16px;
}
.team-list-social-links{
    display: flex;
    justify-content: center;

}
.social-list-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
       
}

.social-list-item{
&:not(:last-child) {
     margin-right: 10px;}
}

.social-list-icon{
    width: 20px;
    height: 20px;
    fill: $social-link-color;
      
}
// 768+
@media screen and (min-width: 768px){
 .team-list {
     display: flex;
     flex-wrap: wrap;
     margin-top: -30px;
    margin-left: -30px;
 }
 .team-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color:$primary-bg-color;
}


}


// 1200+
@media screen and (min-width: 1200px){
.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
}
.social-list-icon{
    transition: fill var(--timing-duration) var(--timing-function);
.social-list-item-link:hover &,
.social-list-item-link:focus &{
    fill: $primary-bg-color;}  
}
.social-list-item-link{
    transition: background-color var(--timing-duration) var(--timing-function);
    &:hover,
    &:focus{     
    background-color: $accent-text-color;} 
}
.team-item {
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color:$primary-bg-color;
}
}





 

