$text-color: #757575;
$title-text-color: #212121;
$primary-bg-color: #ffffff;
$footer-bg-color:#2F303A;
$social-link-color: #AFB1B8;
$logo-color:#000000;
$filter-list-color: #F5F4FA;
$projects-list-item-border-color: #EEEEEE;
$accent-text-color: #2196f3;

:root{
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
--timing-duration: 250ms;
}


 